
<div class = "card" style="width: 18rem">
    <article class="post card-body">
        <div class="title card-title">
            <a href="/post/{{id}}">{{title}}</a>
           
        </div>
        <div class="meta">
            by {{user.username}} on {{format_date created_at}}
    |
            <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
        </div>
    </article>
    </div>
