
<div class = "card text-center" style="width: 18rem">
    <article class="post card-body">
        <div class="title card-header">
            <a class="h3 mt-5 fw-normal" href="/post/{{id}}">{{title}}</a>    
        </div>
        <div class="meta">
            by {{user.username}} on {{format_date created_at}}
    |
            <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
        </div>
    </article>
    </div>
