
<div class = "card">
    <article class="post card-body">
        <div class="title card-title">
            {{post.title}}
        </div>
        <div class="meta">
            by {{post.user.username}} on {{format_date post.created_at}}
    |
            <a href="api/posts/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
        </div>
        <div>
            <textarea name="" id="" cols="30" rows="10"> {{post.textbody}}</textarea>
           
        </div>  
    </article>
    </div>


{{#if loggedIn}}
<form class="comment-form">
  <div>
    <textarea name="comment-body"></textarea>
  </div>

  <div>
    <button type="submit">add comment</button>
  </div>
</form>
{{/if}}

{{>comments post.comments}}






{{#if loggedIn}}
<script src="/javascript/comment.js"></script>

{{/if}}